<script src="/js/vue.global.js"></script>
<script src="/js/main.js"></script>
<script type="module">
window.addEventListener('load', function() {
  const { createApp } = Vue;
  const { api, constants, types } = silex;
  const {
    ConnectorType,
  } = types
  const {
    setServerUrl,
    connectorList,
    logout,
  } = api

  const App = {
    data() {
      return {
        connectors: [],
        error: null,
        message: null,
        loading: true,
        lastConnector: null,
      }
    },
    mounted() {
      this.init()
      window.addEventListener('message', (event) => {
        if(event.data && event.data.type === 'login') {
          this.loginResult(event.data)
        }
      })
    },

    methods: {
      async init() {
        try {
          // Init Silex server path
          // Go up 2 levels because of the language prefix + the page path
          setServerUrl((window.location.origin + window.location.pathname.replace(/\/$/, '')).replace(/\/[^/]+\/[^/]+$/, ''))
          // Start
          this.loading = true
          console.log('init')
          this.connectors = await connectorList({type: ConnectorType.STORAGE})
          console.log('connectors', this.connectors)
          this.loading = false
        } catch (error) {
          console.error(error)
          this.error = error
          this.loading = false
        }
      },
      openLogin(connector) {
        this.lastConnector = connector
        const nonOAuthUrl = `${constants.API_PATH}${constants.API_CONNECTOR_PATH}${constants.API_CONNECTOR_LOGIN}?connectorId=${connector.connectorId}&type=${connector.type}`
        console.log('openLogin', connector.oauthUrl, nonOAuthUrl)
        window.open(connector.oauthUrl || nonOAuthUrl, '_blank')
      },
      loginResult(data) {
        console.log('loginResult', data)
        if(data.error) {
          this.error = data.error
          this.message = `{{ api-translations[lang]["Login failed"] }} ${data.message}`
        } else {
          window.location.href = '/'
        }
      },
      async logout() {
        try {
          this.message = '{{ api-translations[lang]["Logging out"] }}'
          await logout({type: ConnectorType.STORAGE, connectorId: this.lastConnector.connectorId})
          this.loggedIn = false
          this.user = null
          this.websites = []
          this.loading = false
          this.message = ''
          this.error = false
        } catch (error) {
          console.error(error)
          this.error = error
          this.message = error.message
          this.loading = false
        }
      },
    },
  };

  // Start vue app
  createApp(App).mount('.app');

  // Remove loading
  setTimeout(() => {
    document.querySelector('.before-js').classList.add('after-js')
  }, 100)
})
</script>