<script src="/js/vue/dist/vue.global.js"></script>
<script src="/js/main.js"></script>
<script type="module">
const CONNECTORS_PATH = '/connectors/'
window.addEventListener('load', function() {
  const { createApp } = Vue;
  const { api, constants, types } = silex;
  const {
    ConnectorType,
  } = types
  const {
    getUser,
    logout,
    websiteDelete,
    websiteList,
    websiteCreate,
    websiteMetaWrite,
  } = api

  const App = {
    data() {
      return {
        websites: [],
        newWebsiteName: '',
        showCreationForm: false,
        error: null,
        message: null,
        loggedIn: false,
        loading: true,
        storage: null,
        user: null,
        showMenu: false,
      }
    },
    mounted() {
      this.init()
    },

    methods: {
      async init() {
        try {
          this.user = await getUser({type: ConnectorType.STORAGE})
          if(this.user) {
            this.loggedIn = true
            this.websites = await websiteList({connectorId: this.user.storage.connectorId})
            this.loading = false
          } else {
            this.openLogin()
          }
        } catch (error) {
          console.error(error)
          this.loading = false
          if(error.code === 401) {
            this.loggedIn = false
            this.openLogin()
          } else {
            this.error = error
          }
        }
      },

      openLogin(id, lang) {
        //throw new Error('debug')
        const path = `/{{lang}}${CONNECTORS_PATH}`
        console.log(window.location.pathname, window.location.path, path)
        if(window.location.pathname === path) return
        window.open(path, '_self')
      },

      openEditor(id, lang) {
        window.open(`/?id=${id}&lang=${lang}&connectorId=${this.user.storage.connectorId}`, '_blank')
      },

      async logout() {
        await logout({
          type: ConnectorType.STORAGE,
          connectorId: this.user.storage.connectorId,
        })
      },

      async createWebsite() {
        if (!this.newWebsiteName) throw new Error('{{ api-translations[lang]["You need to provide a website name"] }}')
        this.loading = true
        try {
          const websiteId = this.newWebsiteName.replace(/[/\\?%*:|"<>]/g, '_')
          const result = await websiteCreate({
            websiteId,
            data: {
              name: this.newWebsiteName,
              imageUrl: null,
            },
            connectorId: this.user.storage.connectorId
          })
          this.message = '{{ api-translations[lang]["Website created successfully"] }}'
          this.newWebsiteName = ''
          this.showCreationForm = false;
          this.websites = await websiteList({connectorId: this.user.storage.connectorId})
          this.loading = false
          return result
        } catch (error) {
          this.loading = false
          console.error(error)
          this.error = '{{ api-translations[lang]["Failed to create website"] }}'
        }
      },

      async deleteWebsite(websiteId) {
        const ok = confirm('{{ api-translations[lang]["Deleting a website? Are your sure? Really?"] }}')
        if (!ok) return
        this.loading = true
        try {
          const result = await websiteDelete({websiteId, connectorId: this.user.storage.connectorId})
          this.message = '{{ api-translations[lang]["Website deleted successfully"] }}'
          this.websites = await websiteList({connectorId: this.user.storage.connectorId})
          this.loading = false
          return result
        } catch (error) {
          this.loading = false
          this.error = '{{ api-translations[lang]["Failed to delete website"] }}'
        }
      },

      async renameWebsite(websiteId) {
        const website = this.websites.find(w => w.websiteId === websiteId)
        const name = prompt('{{ api-translations[lang]["New name for this website"] }}', website.name)
        if (!name) return
        this.loading = true
        try {
          const result = await websiteMetaWrite({websiteId, connectorId: this.user.storage.connectorId, data: { name }})
          this.message = '{{ api-translations[lang]["Website renamed successfully"] }}'
          this.websites = await websiteList({connectorId: this.user.storage.connectorId})
          this.loading = false
          return result
        } catch (error) {
          this.loading = false
          this.error = '{{ api-translations[lang]["Failed to delete website"] }}'
        }
      },
    },
  };

  // Start vue app
  createApp(App).mount('.app');
})
</script>
