
      <!DOCTYPE html>
      <html lang="">
      <head>
      <link rel="stylesheet" href="/css/websites.css" />
      <!--  font google -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">

{% render "alternate.liquid" languages: languages lang: lang page: page %}

<style>
body {	color:#2B1B63;}
.button, .pointer { cursor: pointer;}
a { 
	text-decoration: none;
	color:#8873FE;}
a:hover { text-decoration: underline; }
.uppercase  {text-transform: uppercase;}
/*label*/
::placeholder {color: #8873FE;}
input:focus {
	border: 2px solid ##9977FE;
	background-color:#ffffff;}
:focus { outline: none;}
/*label*/
.skeleton-anim:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: 
    linear-gradient(0.25turn, transparent, rgba(255,255,255,.75), transparent),
    linear-gradient(transparent, transparent),
    radial-gradient(38px circle at 19px 19px, transparent 50%, transparent 51%),
    linear-gradient(transparent, transparent);  
  background-repeat: no-repeat;
  background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px; 
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px; 
  animation: loading 1.5s infinite;
}

@keyframes loading {  
  to {
    background-position: 200% 0, 0 0, 0 190px, 50px 195px;
  }
}

</style>
      {% render "api-websites.js.html" frontmatter: frontmatter page: page site: site api-translations: api-translations lang: lang %}

      <title>{{ title }}</title>
      <link rel="icon" href="" />
      <meta property="description" content=""/>
<meta property="og:title" content=""/>
<meta property="og:description" content=""/>
<meta property="og:image" content=""/>
      </head>
      <body
            id="ik0i" src="undefined"
            class="body loading app"
            
            
            ><HEADER
            id="igrg" src="undefined"
            class="header padding-normal "
            
            
            ><A
            id="igvu43" href="/" src="undefined"
            
            
            
            ><img
            src="/assets/picto-silex@3x.png" href="" id="iel80b-2"
            class="nav__logo "
            
            
            ></img></A><NAV
            id="i9jq" src="undefined"
            class="nav "
            
            
            >{% for item in nav %}<A
            id="iels" href="{{ item.url }}" src="undefined"
            class="nav__item uppercase {% if forloop.index == 1 %}active{% endif %}"
            target="{{ item.target }}"
            
            >{{ item.label }}</A>{% endfor %}</NAV><div
            id="i2red7" src="undefined"
            class="lang h-space "
            
            
            >{% assign links = languages %}
{%- for link in links %}<A
            href="/{{ link.code }}" id="iciz" src="undefined"
            class="lang__item nav__item uppercase {% if link.code == lang %}active{% endif %}"
            hreflang="{{link.code}}"
            
            >{{ link.code }}</A>{% endfor %}</div><div
            id="i24ew" src="undefined"
            class="user__wrapper pointer "
            v-if="user && !user.storage.disableLogout"  @NOmouseover="showMenu = true"  @NOmouseout="showMenu = false"  @click="showMenu = !showMenu"
            
            ><div
            id="i5xsbd" src="undefined"
            class="user-icon__wrapper "
            v-if="user" v-show="!showMenu || user.storage.disableLogout"
            
            ><div
            id="i5wlbq" src="undefined"
            class="user-icon__image "
            v-if="user" v-show="!showMenu || user.storage.disableLogout" :style='`background: url("${user.picture}"); background-repeat: no-repeat; background-size: contain;`'
            
            ></div></div><div
            id="ic9eoa" src="undefined"
            
            v-show="showMenu && !user.storage.disableLogout"
            
            ><div
            id="iksw4d" src="undefined"
            class="button button--tertiary "
            @click="logout()"
            
            >Logout</div></div></div></HEADER><HEADER
            id="iy8ax3" src="undefined"
            class="bg-silex-purpel "
            
            
            ><div
            id="iisz8f" src="undefined"
            class="section-top text-centered text-white "
            
            
            ><H1
            id="ic31o" src="undefined"
            class="title-40 "
            v-if="!empty"
            
            >{{ title2 }}</H1><P
            id="iyex8" src="undefined"
            class="subtitle-16 "
            v-if="!empty"
            
            >{{ subtitle }}</P><H1
            id="i4ybc" src="undefined"
            class="title-40 "
            v-if="empty"
            
            >{{ title2-empty }}</H1><P
            id="iino6r" src="undefined"
            class="subtitle-16 "
            v-if="empty"
            
            >{{ subtitle-empty }}</P></div></HEADER><MAIN
            id="iz63r" src="undefined"
            class="padding-normal section main-min-height "
            
            
            ><SECTION
            id="iqmx38" src="undefined"
            
            v-if="empty"
            
            ></SECTION><div
            id="ickx4" src="undefined"
            class="margin-20 "
            
            
            ><BUTTON
            id="i2x0l" src="undefined"
            class="button button--primary rounded top-space-40 "
            @click="showCreationForm = !showCreationForm" v-if="!showCreationForm"
            
            ><span
            id="ibsgw" src="undefined"
            class="icon-font "
            
            
            >+</span> <span
            id="itl2n8" src="undefined"
            
            
            
            >{{ add-button }}</span></BUTTON><div
            id="i0ro3" src="undefined"
            class="button button--secondary rounded "
            
            
            >Import</div></div><div
            id="ihwwxz" src="undefined"
            class="box top-space-40 padding-30 box_transp "
            v-if="showCreationForm"
            
            ><H3
            id="i3gd1b" src="undefined"
            class="box__header text-centered "
            
            
            >{{ add-title }}</H3><form
            method="get" id="i50acf" src="undefined"
            class="form "
            @submit.prevent="createWebsite"
            
            ><div
            id="igtg1t" src="undefined"
            class="v-space "
            
            
            ><label
            id="i1nmbc" src="undefined"
            class="v-space bold color-2B1B63-80 "
            
            
            >{{ add-name-label }}</label><input
            type="text" id="ij5iwh" placeholder="{{ add-name-placeholder }}" src="undefined"
            class="input full-width "
            v-model="newWebsiteName"
            
            ></input></div><div
            id="ie0xes" src="undefined"
            
            
            
            ><button
            type="submit" id="i021na" src="undefined"
            class="button rounded button--primary right-space-20 "
            
            
            >{{ add-ok }}</button><button
            type="reset" src="undefined"
            class="button rounded button--secondary "
            @click="showCreationForm = !showCreationForm"
            
            >{{ add-cancel }}</button></div></form></div><div
            id="if80m" src="undefined"
            class="margin-20 "
            v-if="!empty"
            
            ><SECTION
            id="idgvg" src="undefined"
            class="button-bar button-bar--full-width bg-white rounded loaded__item "
            v-if="!loading" v-for="(website, index) in websites" :key="index"
            
            ><H3
            id="i69a7" src="undefined"
            class="button-bar_item button-bar__item--main right-space-40 color-2B1B63-80 uppercase "
            v-text="website.name || website.id"
            
            >My first website</H3><P
            id="i65hn" src="undefined"
            class="button-bar_item button-bar__item--secondary flex-no-shrink right-space-40 "
            v-text="'{{ list-item-updated }} ' + new Date(website.updatedAt).toLocaleDateString(undefined, { day: 'numeric', month: 'long', year: 'numeric' })"
            
            >Updated 1h ago by lexoyo</P><P
            id="i64qa" src="undefined"
            class="button-bar_item button-bar__item--secondary flex-no-shrink right-space-40 "
            v-text="'{{ list-item-created }} ' + new Date(website.createdAt).toLocaleDateString(undefined, { day: 'numeric', month: 'long', year: 'numeric' })"
            
            >Created 2023-02-16 by lexoyo</P><div
            id="i3b4tr" src="undefined"
            class="button-bar_item flex-no-shrink "
            
            
            ><BUTTON
            id="ifyf6p" href="" src="undefined"
            class="right-space-20 bold button-bar__item--link pointer "
            @click="openEditor(website.websiteId, '{{lang}}')"
            
            >{{ list-edit }}</BUTTON><BUTTON
            href="" id="ihf6ew" src="undefined"
            class="right-space-20 button-bar__item--link pointer "
            @click="renameWebsite(website.websiteId, '{{lang}}')"
            
            >{{ list-rename }}</BUTTON><BUTTON
            id="iol4h" src="undefined"
            class="button-bar__item--link pointer "
            @click="deleteWebsite(website.websiteId)" title="{{ list-delete }}"
            
            >X</BUTTON></div></SECTION><SECTION
            id="i1fjn" src="undefined"
            class="button-bar button-bar--full-width bg-white rounded loading__item skeleton-anim skeleton-wrapper "
            v-if="loading"
            
            ><H3
            id="iwu6a" src="undefined"
            class="button-bar_item button-bar__item--main skeleton-text skeleton right-space-40 "
            
            
            >My first websiteMy first websiteMy first websiteMy first</H3><P
            id="i26fn" src="undefined"
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton right-space-40 "
            
            
            >Updated 1h ago by lexoyo</P><P
            id="iywbk" src="undefined"
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton right-space-40 "
            
            
            >Created 2023-02-16 by lexoyo</P><div
            id="ixz6c" src="undefined"
            class="button-bar_item skeleton skeleton-button "
            
            
            >Edit</div></SECTION><SECTION
            id="iwxxo5" src="undefined"
            class="button-bar button-bar--full-width bg-white rounded loading__item skeleton-anim skeleton-wrapper "
            v-if="loading"
            
            ><H3
            src="undefined"
            class="button-bar_item button-bar__item--main skeleton-text skeleton "
            
            
            >My first websiteMy first websiteMy first websiteMy first</H3><P
            src="undefined"
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Updated 1h ago by lexoyo</P><P
            src="undefined"
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Created 2023-02-16 by lexoyo</P><div
            id="i9fx3l" src="undefined"
            class="button-bar_item skeleton skeleton-button "
            
            
            >Edit</div></SECTION><SECTION
            id="isld3r" src="undefined"
            class="button-bar button-bar--full-width bg-white rounded loading__item skeleton-anim skeleton-wrapper "
            v-if="loading"
            
            ><H3
            src="undefined"
            class="button-bar_item button-bar__item--main skeleton-text skeleton "
            
            
            >My first websiteMy first websiteMy first websiteMy first</H3><P
            src="undefined"
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Updated 1h ago by lexoyo</P><P
            src="undefined"
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Created 2023-02-16 by lexoyo</P><div
            id="i8oes3" src="undefined"
            class="button-bar_item skeleton skeleton-button "
            
            
            >Edit</div></SECTION></div><div
            id="ipccl7" src="undefined"
            
            
            
            ><div
            id="i2fkm9" src="undefined"
            class="margin-20 empty-image "
            v-if="empty"
            
            ></div><div
            id="i5ydxo" src="undefined"
            class="box padding-50-30 "
            v-if="empty"
            
            ><P
            id="ikl1qu" src="undefined"
            class="text-centered title-26 "
            
            
            >{{ text-empty1 }}</P><H3
            id="iwzrqi" src="undefined"
            class="text-centered title-26 "
            
            
            >{{ text-empty2 }}</H3></div></div><div
            id="i7ej6j" src="undefined"
            class="horizontal box-message text-white "
            v-if="error"
            
            ><H3
            id="iv0eyi" src="undefined"
            class="full-width v-space h-space "
            v-text="error"
            
            >Insert your text here</H3><div
            id="i4656n" src="undefined"
            class="rounded pointer button-bar__item--link text-white "
            @click="error = null"
            
            >{{ message-dismiss }}</div></div><div
            id="ilteie" src="undefined"
            class="horizontal box-message text-white "
            v-if="message"
            
            ><H3
            id="i2d31v" src="undefined"
            class="full-width v-space h-space "
            v-text="message"
            
            >Insert your text here</H3><div
            id="i2urco" src="undefined"
            class="rounded pointer button-bar__item--link text-white "
            @click="message = null"
            
            >{{ message-dismiss }}</div></div></MAIN><FOOTER
            id="ilzpl" src="undefined"
            class="header footer "
            
            
            ><div
            id="i238z" src="undefined"
            class="section "
            
            
            >{{ content }}</div></FOOTER></body>
      </html>
      