
      <!DOCTYPE html>
      <html lang="">
      <head>
      <link rel="stylesheet" href="/css/websites.css" />
      {% render "alternate.liquid" languages: languages lang: lang page: page %}

<style>
.button { cursor: pointer; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }

.skeleton-anim:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: 
    linear-gradient(0.25turn, transparent, rgba(255,255,255,.75), transparent),
    linear-gradient(transparent, transparent),
    radial-gradient(38px circle at 19px 19px, transparent 50%, transparent 51%),
    linear-gradient(transparent, transparent);  
  background-repeat: no-repeat;
  background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px; 
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px; 
  animation: loading 1.5s infinite;
}

@keyframes loading {  
  to {
    background-position: 200% 0, 0 0, 0 190px, 50px 195px;
  }
}

</style>
      {% render "api-websites.js.html" frontmatter: frontmatter page: page site: site api-translations: api-translations lang: lang %}

      <title>{{ title }}</title>
      <link rel="icon" href="" />
      <meta property="description" content=""/>
<meta property="og:title" content=""/>
<meta property="og:description" content=""/>
<meta property="og:image" content=""/>
      </head>
      <body
            id="ik0i"
            class="body loading app"
            
            
            ><HEADER
            id="igrg"
            class="header padding-normal "
            
            
            ><A
            id="igvu43" href="/"
            
            
            
            ><img
            src="/assets/silex-icon-2018@200px.png" href="" id="iel80b-2"
            class="nav__logo "
            
            
            ></img></A><NAV
            id="i9jq"
            class="nav "
            
            
            >{% for item in nav %}<A
            id="iels" href="{{ item.url }}"
            class="nav__item {% if forloop.index == 1 %}active{% endif %}"
            target="{{ item.target }}"
            
            >{{ item.label }}</A>{% endfor %}</NAV><div
            id="i2red7"
            class="lang h-space "
            
            
            >{% assign links = languages %}
{%- for link in links %}<A
            href="/{{ link.code }}" id="iciz"
            class="lang__item nav__item {% if link.code == lang %}active{% endif %}"
            hreflang="{{link.code}}"
            
            >{{ link.code }}</A>{% endfor %}</div><div
            id="i24ew"
            class="user__wrapper "
            v-if="user"  @NOmouseover="showMenu = true"  @NOmouseout="showMenu = false"  @click="showMenu = !showMenu"
            
            ><div
            id="i5xsbd"
            class="user-icon__wrapper "
            v-if="user" v-show="!showMenu || user.storage.disableLogout"
            
            ><div
            id="i5wlbq"
            class="user-icon__image "
            v-if="user" v-show="!showMenu || user.storage.disableLogout" :style='`background: url("${user.picture}"); background-repeat: no-repeat; background-size: contain;`'
            
            ></div></div><div
            id="ic9eoa"
            
            v-show="showMenu && !user.storage.disableLogout"
            
            ><div
            id="iksw4d"
            class="button button--secondary "
            @click="logout()"
            
            >Logout</div></div></div></HEADER><MAIN
            id="iz63r"
            class="padding-normal section "
            
            
            ><H1
            id="itp1f"
            
            
            
            >{{ title2 }}</H1><div
            id="iyex8"
            class="subtitle color--light "
            
            
            >{{ subtitle }}</div><div
            id="ickx4"
            class="button-bar margin-20 "
            
            
            ><BUTTON
            id="i2x0l"
            class="button button--primary rounded top-space-40 "
            @click="showCreationForm = !showCreationForm" v-if="!showCreationForm"
            
            ><span
            id="ibsgw"
            class="icon-font "
            
            
            >+</span> <span
            id="itl2n8"
            
            
            
            >{{ add-button }}</span></BUTTON><div
            id="i0ro3"
            class="button button--secondary rounded "
            
            
            >Import</div></div><div
            id="ihwwxz"
            class="box top-space-40 "
            v-if="showCreationForm"
            
            ><H3
            id="i3gd1b"
            class="box__header "
            
            
            >{{ add-title }}</H3><form
            method="get" id="i50acf"
            class="form "
            @submit.prevent="createWebsite"
            
            ><div
            id="igtg1t"
            class="v-space "
            
            
            ><label
            id="i1nmbc"
            class="v-space "
            
            
            >{{ add-name-label }}</label><input
            type="text" id="ij5iwh" placeholder="{{ add-name-placeholder }}"
            class="input full-width "
            v-model="newWebsiteName"
            
            ></input></div><div
            id="ie0xes"
            
            
            
            ><button
            type="submit" id="i021na"
            class="button rounded button--primary right-space "
            
            
            >{{ add-ok }}</button><button
            type="reset"
            class="button rounded button--secondary "
            @click="showCreationForm = !showCreationForm"
            
            >{{ add-cancel }}</button></div></form></div><div
            id="if80m"
            
            
            
            ><SECTION
            id="idgvg"
            class="button-bar button-bar--full-width bg-white rounded loaded__item "
            v-if="!loading" v-for="(website, index) in websites" :key="index"
            
            ><H3
            id="i69a7"
            class="button-bar_item button-bar__item--main "
            v-text="website.name || website.id"
            
            >My first website</H3><P
            id="i65hn"
            class="button-bar_item button-bar__item--secondary flex-no-shrink "
            v-text="'{{ list-item-updated }} ' + new Date(website.updatedAt).toLocaleDateString(undefined, { day: 'numeric', month: 'long', year: 'numeric' })"
            
            >Updated 1h ago by lexoyo</P><P
            id="i64qa"
            class="button-bar_item button-bar__item--secondary flex-no-shrink "
            v-text="'{{ list-item-created }} ' + new Date(website.createdAt).toLocaleDateString(undefined, { day: 'numeric', month: 'long', year: 'numeric' })"
            
            >Created 2023-02-16 by lexoyo</P><div
            id="i3b4tr"
            class="button-bar_item flex-no-shrink "
            
            
            ><BUTTON
            id="ifyf6p" href=""
            class="button rounded button--primary button--small right-space "
            @click="openEditor(website.websiteId, '{{lang}}')"
            
            >{{ list-edit }}</BUTTON><BUTTON
            href="" id="ihf6ew"
            class="button rounded button--small right-space button--tertiary "
            @click="renameWebsite(website.websiteId, '{{lang}}')"
            
            >{{ list-rename }}</BUTTON><BUTTON
            id="iol4h"
            class="button rounded button--small button--tertiary "
            @click="deleteWebsite(website.websiteId)" title="{{ list-delete }}"
            
            >X</BUTTON></div></SECTION><SECTION
            id="i1fjn"
            class="button-bar button-bar--full-width bg-white rounded loading__item skeleton-anim skeleton-wrapper "
            v-if="loading"
            
            ><H3
            
            class="button-bar_item button-bar__item--main skeleton-text skeleton "
            
            
            >My first websiteMy first websiteMy first websiteMy first</H3><P
            
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Updated 1h ago by lexoyo</P><P
            
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Created 2023-02-16 by lexoyo</P><div
            id="ixz6c"
            class="button-bar_item skeleton skeleton-button "
            
            
            >Edit</div></SECTION><SECTION
            id="iwxxo5"
            class="button-bar button-bar--full-width bg-white rounded loading__item skeleton-anim skeleton-wrapper "
            v-if="loading"
            
            ><H3
            
            class="button-bar_item button-bar__item--main skeleton-text skeleton "
            
            
            >My first websiteMy first websiteMy first websiteMy first</H3><P
            
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Updated 1h ago by lexoyo</P><P
            
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Created 2023-02-16 by lexoyo</P><div
            id="i9fx3l"
            class="button-bar_item skeleton skeleton-button "
            
            
            >Edit</div></SECTION><SECTION
            id="isld3r"
            class="button-bar button-bar--full-width bg-white rounded loading__item skeleton-anim skeleton-wrapper "
            v-if="loading"
            
            ><H3
            
            class="button-bar_item button-bar__item--main skeleton-text skeleton "
            
            
            >My first websiteMy first websiteMy first websiteMy first</H3><P
            
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Updated 1h ago by lexoyo</P><P
            
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Created 2023-02-16 by lexoyo</P><div
            id="i8oes3"
            class="button-bar_item skeleton skeleton-button "
            
            
            >Edit</div></SECTION><SECTION
            id="iqmx38"
            class="button-bar button-bar--full-width bg-white rounded loading__item skeleton-anim skeleton-wrapper "
            v-if="loading"
            
            ><H3
            
            class="button-bar_item button-bar__item--main skeleton-text skeleton "
            
            
            >My first websiteMy first websiteMy first websiteMy first</H3><P
            
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Updated 1h ago by lexoyo</P><P
            
            class="button-bar_item button-bar__item--secondary skeleton-text skeleton "
            
            
            >Created 2023-02-16 by lexoyo</P><div
            id="ie83jl"
            class="button-bar_item skeleton skeleton-button "
            
            
            >Edit</div></SECTION></div><div
            id="i7ej6j"
            class="box horizontal "
            v-if="error"
            
            ><div
            id="iv0eyi"
            class="full-width v-space h-space "
            v-text="error"
            
            >Insert your text here</div><div
            id="i4656n"
            class="button rounded button--small button--tertiary "
            @click="error = null"
            
            >{{ message-dismiss }}</div></div><div
            id="ilteie"
            class="box horizontal "
            v-if="message"
            
            ><div
            id="i2d31v"
            class="full-width v-space h-space "
            v-text="message"
            
            >Insert your text here</div><div
            id="i2urco"
            class="button rounded button--small button--tertiary "
            @click="message = null"
            
            >{{ message-dismiss }}</div></div></MAIN><FOOTER
            id="ilzpl"
            class="header footer "
            
            
            ><div
            id="i238z"
            class="section "
            
            
            >{{ content }}</div></FOOTER></body>
      </html>
      